{% extends 'inicio/base.html' %} {% load static %} {% block contenido %}
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <!-- Aquí puedes colocar tu carrusel -->
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="{% static 'inicio/assets/img/IMG_8891.JPG' %}"
              class="d-block mx-auto"
              alt="Imagen de Ejemplo"
              style="max-width: 50%; height: 100%"
            />
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'inicio/assets/img/IMG_8892.jpg' %}"
              class="d-block mx-auto"
              alt="Imagen de Ejemplo"
              style="max-width: 50%; height: 30%"
            />
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'inicio/assets/img/IMG_8893.JPG' %}"
              class="d-block mx-auto"
              alt="Imagen de Ejemplo"
              style="max-width: 50%; height: 10%"
            />
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'inicio/assets/img/IMG_8894.jpg' %}"
              class="d-block mx-auto"
              alt="Imagen de Ejemplo"
              style="max-width: 50%; height: 30%"
            />
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'inicio/assets/img/IMG_8896.JPG' %}"
              class="d-block mx-auto"
              alt="Imagen de Ejemplo"
              style="max-width: 50%; height: 30%"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
      <!-- Contenido del carrusel -->
    </div>
  </div>
</div>

<h1> Zajía Lopez Arbelaez </h1>
{% endblock contenido %}
